<?xml version="1.0" encoding="UTF-8"?>
<information>
	<students>
		<student>
			<nom>n1</nom>
			<prenom>n1</prenom>
			<specialite>n1</specialite>
			<section>n1</section>
			<group>n1</group>
			<email>n1</email>

		</student>
		<student>
			<nom>n2</nom>
			<prenom>n2</prenom>
			<specialite>n2</specialite>
			<section>n2</section>
			<group>n2</group>
			<email>n2</email>

		</student>
	</students>
	<header>
		<titre image="Photos/i1.png" title="title of project" />
	</header>	
</information>